{% extends 'base.html.twig' %}

{% block title %}Listes des categoriees{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div><h3> Liste des catégories</h3>
        {% if is_granted("ROLE_ADMIN")%}                                        
            <a style="float:right" class="nav-link" href="{{path('categorie_add')}}">
                <button type="button" class="btn btn-secondary" style="width: 190px">
                    Ajouter une catégorie
                </button>
            </a>
        {% endif %}    
    </div>
       <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Intitulé</th>


                    {% if is_granted("ROLE_ADMIN") %}
                        
                
                    <th></th>
                    
                    
                        {% endif %}

                    
                </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                <tr>
                    <td scope="row"><a href="{{ path('categorie_show', {'id': categorie.id}) }}">{{ categorie.intitule }}</a></td>
                                                                                {% if is_granted("ROLE_ADMIN")%} 
                <td style="float:right"><a class="btn btn-secondary" href="{{path('module_add', {'id' : categorie.id }) }}">Ajouter un module</a>
                <a class="btn btn-secondary" href="{{ path('categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                <a class="btn btn-secondary" href="{{ path('categorie_delete', {'id': categorie.id}) }}">X</a>  </td> 
                {% endif %}
                </tr>
            </tbody>
                {% endfor %}


{% endblock %}

