{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{categorie.intitule }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div><h3> Liste des modules dans la catégorie : {{categorie.intitule }} </h3></div>
       <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Intitule</th>

                {% if is_granted("ROLE_ADMIN")%} 
                    <th></th>
                    <th></th>
                    

                {% endif %}
                    
                </tr>
            </thead>
            <tbody>
                {% for module in categorie.compositionTheme %}
                <tr>
                    <td scope="row">{{ module.intitule }}</td>
                                                                                {% if is_granted("ROLE_ADMIN")%} 
                
                <td style="float: right"><a class="btn btn-secondary" href="{{ path('module_edit', {'id': module.id}) }}">Modifier</a></td>
                <td><a class="btn btn-secondary" href="{{ path('module_delete', {'id': module.id}) }}">X</a>  </td> 
                {% endif %}
                </tr>
            </tbody>
                {% endfor %}


{% endblock %}
